@*
	Author: Robert Davidson
	Partner: David Clark
	Date: 12/05/2022
	Course: CS 4540, University of Utah, School of Computing
	Copyright: CS 4540, David Clark and Robert Davidson - This work may not be copied for use in Academic Coursework.

	I, David Clark, certify that I wrote this code from scratch and did not copy it in part or whole from
	another source.  Any references used in the completion of the assignment are cited in my README file.

	I, Robert Davidson, certify that I wrote this code from scratch and did not copy it in part or whole from
	another source. Any references used in the completion of the assignment are cited in my README file.

	File Contents

		Allows the user to view # of enrollments over time for a given course. The user can choose which
		data gets displayed.
*@
@using TAApplication.Data
@inject ApplicationDbContext _db
@{
    ViewData["Title"] = "Enrollment Trends";
}
<div>
    <h1>Enrollments Trends</h1>
</div>
<div class="row">
    <form id="enrollment-data-form" class="form-floating row g-3">
        <div class="form-group col-md-3">
            <label for="start-date" class="control-label">Start Date</label>
            <input name="start-date" type="date" class="form-control" id="start-date" value="2022-11-01" required/>
        </div>
        <div class="form-group col-md-3">
            <label for="end-date" class="control-label">End Date</label>
            <input name="end-date" type="date" class="form-control" id="end-date" value="2022-11-30" required/>
        </div>
        <div class="form-group col-md-3">
            <label for="course-identifier" class="control-label">Course</label>
            <select name="course-identifier" class="form-control" id="course-identifier" required>
                @foreach (Course course in _db.Courses)
                {
                    string val = String.Concat(course.Department, " ", course.Number);
                    <option id="course-label" value="@val">@val</option>
                }
            </select>
        </div>
        <div class="form-group col-md-3">
            <label class="control-label"></label>
            <button class="btn btn-primary container fill" id="get-data-button" type="submit">
                <span id="get-data-button-loading" class="d-none">
                    <span id="get-data-button-loading-spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span id="get-data-button-loading-text">Loading...</span>
                </span>
                <span id="get-data-button-default">
                    <span id="get-data-button-default-text">Chart Data</span>
                </span>
            </button>
        </div>
    </form>
</div>
<br />
<section>

    <figure id="chart" alt="Enrollments Over Time plot"></figure>
    <figure id="bar-chart" alt="Current Enrollments for each Course"></figure>
</section>

@section Styles
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highcharts/9.3.2/css/highcharts.min.css"
          integrity="sha512-/G4PBY3DrEXBrex90H73x+CRfmCvcSp57ifLtzrwVs4HmOVDccjIPSpGyJwKJmg6qfEDi0tHFaq2mLECK40WjQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="~/css/Admin/EnrollmentTrends.css" type="text/css"/>
}

@section Scripts
{
    <script type="text/javascript" charset="utf8" src="~/js/Admin/EnrollmentTrends.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/9.3.2/highcharts.js"
            integrity="sha512-dm3Cn0X6XyRMz52WqL1wag+e2WCNAnggh2+4mv/9Ngd+IhBIH9NEQYUZ4g3A6GJUbhKrGw5hErqcFIyk73lUgA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}