@page
@model TAApplication.Views.OLD.ApplicationListModel
@{
}

@*
 Author:    Robert Davidson
 Partner:   David Clark
 Date:      08/27/2022
 Course:    CS 4540, University of Utah, School of Computing
 Copyright: CS 4540, David Clark and Robert Davidson - This work may not be copied for use in Academic Coursework.


 I, David Clark, certify that I wrote this code from scratch and did not copy it in part or whole from another source. Any references used in the completion of the assignment are cited in my README file.
 I, Robert Davidson, certify that I wrote this code from scratch and did not copy it in part or whole from another source. Any references used in the completion of the assignment are cited in my README file.


 File Contents
	This is the applicant list page for professors and administrators.
*@

<div id="table-wrapper" class="center">
    <h1>Applicants</h1>
    <p>
        <span id="num-applied">11</span> Applied / <span id="num-employed">10</span> Employed
    </p>
    <table class="table table-striped table-hover">
        <tr>
            <th>Notes</th>
            <th>Prior Evals ?</th>
            <th>Applicant Name</th>
            <th>Employed In</th>
            <th>Degree being Pursued</th>
            <th>Dept</th>
            <th>UofU GPA</th>
            <th>Last Modified</th>
        </tr>
        <tr>
            <td>*</td>
            <td>Okay</td>
            <td>John Doe</td>
            <td>CS 2420</td>
            <td>BS</td>
            <td>CS</td>
            <td>4.0</td>
            <td>08/27/2022</td>
        </tr>
        <tr>
            <td></td>
            <td>Good</td>
            <td>James Doe</td>
            <td>-unassigned-</td>
            <td>BS</td>
            <td>CS</td>
            <td>3.4</td>
            <td>08/27/2022</td>
        </tr>
        <tr>
            <td></td>
            <td>Good</td>
            <td>Jane Doe</td>
            <td>CS 3500</td>
            <td>BS</td>
            <td>CS</td>
            <td>4.0</td>
            <td>08/27/2022</td>
        </tr>
        <tr>
            <td>*</td>
            <td>Good</td>
            <td>Jack Doe</td>
            <td>CS 2100</td>
            <td>BS</td>
            <td>MATH</td>
            <td>3.7</td>
            <td>08/27/2022</td>
        </tr>
        <tr>
            <td>*</td>
            <td>Good</td>
            <td>Jack Doe</td>
            <td>CS 2100</td>
            <td>BS</td>
            <td>MATH</td>
            <td>3.7</td>
            <td>08/27/2022</td>
        </tr>
        <tr>
            <td>*</td>
            <td>Good</td>
            <td>Jack Doe</td>
            <td>CS 2100</td>
            <td>BS</td>
            <td>MATH</td>
            <td>3.7</td>
            <td>08/27/2022</td>
        </tr>
        <tr>
            <td>*</td>
            <td>Good</td>
            <td>Jack Doe</td>
            <td>CS 2100</td>
            <td>BS</td>
            <td>MATH</td>
            <td>3.7</td>
            <td>08/27/2022</td>
        </tr>
        <tr>
            <td>*</td>
            <td>Good</td>
            <td>Jack Doe</td>
            <td>CS 2100</td>
            <td>BS</td>
            <td>MATH</td>
            <td>3.7</td>
            <td>08/27/2022</td>
        </tr>
        <tr>
            <td>*</td>
            <td>Good</td>
            <td>Jack Doe</td>
            <td>CS 2100</td>
            <td>BS</td>
            <td>MATH</td>
            <td>3.7</td>
            <td>08/27/2022</td>
        </tr>
        <tr>
            <td>*</td>
            <td>Good</td>
            <td>Jack Doe</td>
            <td>CS 2100</td>
            <td>BS</td>
            <td>MATH</td>
            <td>3.7</td>
            <td>08/27/2022</td>
        </tr>
        <tr>
            <td>*</td>
            <td>Good</td>
            <td>Jack Doe</td>
            <td>CS 2100</td>
            <td>BS</td>
            <td>MATH</td>
            <td>3.7</td>
            <td>08/27/2022</td>
        </tr>
    </table>
</div>